<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Recapture.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F7C2ED428FCD1C000972C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7C2EE928FCD1C300972C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7C2EF328FCD1C300972C3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
